In [9]:
#creating the attention neural network
'''import tensorflow as tf
import keras'''
import pandas as pd

In [10]:
#loading in data
sea_level = pd.read_csv('country_sea_levels.csv')
surface_temp = pd.read_csv('surface_temp_clean.csv')
forest = pd.read_csv('Forest and Carbon top 30 clean imputed.csv')
land_cover = pd.read_csv('Land Cover Accounts Top 30 Clean.csv')
disasters = pd.read_csv('climate_disasters_clean.csv')

In [13]:
#getting only values from 1992-2020
sea_level = sea_level[sea_level.Year <=2020]
disasters = disasters[disasters.Year >= 1992]
disasters = disasters[disasters.Year <=2020]
surface_temp = surface_temp[surface_temp.Year >=1992]
surface_temp = surface_temp[surface_temp.Year <= 2020]


#disasters = disasters.iloc[:, []]

#getting only the specific countries for disasters and surface temp
countries = ['World', 'United States', 'China, P.R.: Mainland', 'India', 'Philippines', 'Indonesia', 'Bangladesh', 'Vietnam', 'Mexico', 'Japan',
            'Brazil', 'Australia', 'France', 'Pakistan', 'Russian Federation', 'Thailand', 'Colombia', 'Afghanistan', 'Peru', 'Canada',
            'Haiti', 'Iran, Islamic Rep. of', 'Iran', 'Italy', 'Sri Lanka', 'South Africa', 'Argentina', 'Korea, Rep. of', 'Nepal', 'United Kingdom', 'Spain', 'Malaysia']
disasters = disasters.loc[disasters['Country'].isin(countries), :].reset_index()
surface_temp = surface_temp.loc[surface_temp['Country'].isin(countries), :].reset_index()

#changing column names to reflect their value meaning
sea_level.rename(columns = {'Value': 'Sea Level'}, inplace = True)
disasters.rename(columns = {'TOTAL': 'Total Disasters'}, inplace = True)

In [14]:
#check if they all match in length
print(sea_level.shape)
print(surface_temp.shape)
print(forest.shape)
print(land_cover.shape)
print(disasters.shape)

(899, 3)
(870, 5)
(870, 8)
(870, 15)
(841, 11)

In [59]:
sea_level.head(31)

    Year        Country  Sea Level
0   1992          World   4.265600
1   1993          World -20.684635
2   1994          World -16.753576
3   1995          World  -6.903635
4   1996          World  -7.159048
5   1997          World  -3.745188
6   1998          World   0.425479
7   1999          World   2.762812
8   2000          World   3.911835
9   2001          World   4.532603
10  2002          World   4.368462
11  2003          World  10.552680
12  2004          World  11.026544
13  2005          World   6.557321
14  2006          World   9.242289
15  2007          World  17.426356
16  2008          World  30.510821
17  2009          World  24.612352
18  2010          World  30.322154
19  2011          World  29.844335
20  2012          World  42.438345
21  2013          World  35.923380
22  2014          World  40.601074
23  2015          World  54.125600
24  2016          World  59.508530
25  2017          World  51.109914
26  2018          World  52.734897
27  2019          World  58.994843
28  2020          World  75.688853
31  1992  United States -11.423333
32  1993  United States -16.216471

In [61]:
df_clean = forest.merge(land_cover, on = ['Year', 'Country'], how = 'left')
df_clean = df_clean.merge(sea_level, on = ['Year', 'Country'], how = 'left')
df_clean = df_clean.merge(surface_temp, on = ['Year', 'Country'], how = 'left')
df_clean = df_clean.merge(disasters, on = ['Year', 'Country'], how = 'left')
print(df_clean.shape)
df_clean.head()

(870, 32)

,Country,Year,Carbon stocks in forests,Forest area,Index of carbon stocks in forests,Index of forest extent,Land area,Share of forest area,Artificial surfaces (including urban and associated areas): Climate altering,Climate Altering Land Cover Index: Climate altering,...,index_x,Temperature,index_y,Drought,Extreme temperature,Flood,Landslide,Storm,Total Disasters,Wildfire
0,"Afghanistan, Islamic Rep. of",1992,2120.071125,1208.44,100.000000,100.0,65223.0,1.852782,25.3207,98.592112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Afghanistan, Islamic Rep. of",1993,2160.349425,1208.44,101.072442,100.0,65223.0,1.852782,25.7741,98.699319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Afghanistan, Islamic Rep. of",1994,2200.627750,1208.44,102.144893,100.0,65223.0,1.852782,26.1577,98.676769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Afghanistan, Islamic Rep. of",1995,2240.906000,1208.44,103.217332,100.0,65223.0,1.852782,26.6867,98.881362,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Afghanistan, Islamic Rep. of",1996,2281.184300,1208.44,104.289774,100.0,65223.0,1.852782,27.2273,99.058612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#initializing hyper parameters

In [ ]:
#constructing the NN
class attentionNN():
    def __init__():
        
        
    def encoder():
        
        
    def decoder():
        
        
    def attention():
        
        
    def train():

In [ ]:
#using keras to create an initial attention nn
def attnnk():
    model = tf.keras.models.sequential()
    model.add(tf.keras.layers.LTSM())
    model.add(tf.keras.layers.MultiHeadAttention(num_heads, key_dim))
    model.add(tf.keras.layers.Dense(units))
    model.compile(optimizer, loss, metrics)